.custom-list-item {
    @apply my-1 px-4 py-2 flex items-center justify-start hover:bg-[#e6e6e6] rounded-xl cursor-pointer;
  }

    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }


    @keyframes shimmer {
      0% {
        background-position: -100%;
      }
      100% {
        background-position: 100%;
      }
    }
    
    .shimmer {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
      background-size: 200% 100%;
      animation: shimmer 1.5s infinite;
    }
    
    @keyframes breathing {
      0% {
        opacity: 0.8;
        transform: scale(1);
      }
      50% {
        opacity: 0.9;
        transform: scale(1.02);
      }
      100% {
        opacity: 0.8;
        transform: scale(1);
      }
    }
    
    .animate-pulse {
      animation: breathing 1.6s ease-in-out infinite;
    }
