.custom-list-item {
    @apply my-1 px-4 py-2 flex items-center justify-start hover:bg-[#e6e6e6] rounded-xl cursor-pointer;
  }

    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
